*{
    margin:0;
    padding: 0;

}
h2{
    text-align: center;
    margin:5px;
    text-decoration: underline;
}
.gamebox{
    height:90vh;
    width:40%;
    background-color:#1C1B21;
    margin:auto;
    margin-top:30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.wordplace{
    height:60vh;
    width:80%;
    background-color: #fff;
    display: flex;
    flex-direction: row;

}
    .controller{
        height:22%;
        width:25%;
        background-color: #fff;
        border-radius:50%;
        box-shadow: 4px 5px 8px black;
        position: relative;
    }
    .controller span{
        box-shadow: 4px 5px 8px black; 
        padding: 6px;
        border-radius: 50%;
        font-weight: bolder;
        transition: 0.25s ease-in-out;
    }
    .controller span:hover{
        background-color: #1C1B21;
        cursor: pointer;

    }
   #span0{
       position: absolute;
       top: 45%;
       left: 10%;
   }
   #span1{
    position: absolute;
    top: 70%;
    left: 45%;
}
#span2{
    position: absolute;
    top: 45%;
    left: 72%;
}
#span3{
    position: absolute;
    top: 7%;
    left: 42%;
}

    .row{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width:20%;
        
    }
    .row span{
        border-bottom: 1px solid #1C1B21;
        padding:15px;
        font-weight: bolder;
        font-size: 18px;
        display: none;
    }