*{
    margin:0;
    padding: 0;

}
body{
background-image:url('./main.jpeg');
background-size:cover;
background-repeat:no-repeat;
}
h2{
    text-align: center;
    margin:5px;
    text-decoration: underline;
}
.gamebox{
    height:90vh;
    width:40%;
  box-shadow: 6px 6px 22px #1C1B21;
    margin:auto;
    margin-top:30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
background-image:url('./banner.jpeg');
background-size:cover;
background-repeat:no-repeat;
background-position: center;
}
.wordplace{
    height:60vh;
    width:80%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
 box-shadow: 2px 0px 6px #1C1B21;
border-radius:30px;
animation : fade 2s ease-in-out;
}
    .controller{
        height:22%;
        width:25%;
      
        border-radius:50%;
        box-shadow: 2px 0px 6px #1C1B21;
        position: relative;
    }
    .controller span{
        box-shadow: 4px 5px 8px black; 
        padding: 6px;
        border-radius: 50%;
        font-weight: bolder;
        transition: 0.25s ease-in-out;
    }
    .controller span:hover{
        background-color: #1C1B21;
        cursor: pointer;
color:white;

    }
   #span0{
       position: absolute;
       top: 45%;
       left: 10%;
   }
   #span1{
    position: absolute;
    top: 70%;
    left: 45%;
}
#span2{
    position: absolute;
    top: 45%;
    left: 72%;
}
#span3{
    position: absolute;
    top: 7%;
    left: 42%;
}

    .row{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width:20%;
        
    }
    .row span{
        border-bottom: 1px solid #1C1B21;
        padding:15px;
        font-weight: bolder;
        font-size: 18px;
        display: none;
    }


@keyframes fade{
0%{
opacity:0.1;
}
25%{
opacity:0.25;
}
50%{
opacity:0.5;
}
75%{
opacity:0.75;
}
100%{
opacity:1;
}
}

